.gitignore.swp
*.dll
*.pdb
*.txt
*.html
*.exe
*.vshost.exe
*.vshost.exe.manifest
*.cache
*/obj/*
*/bin/*
Coverage.*
coverage.xml
opencover.xml
Name
*testrunconfig
*trx
TestResults/*
*StyleCop.Cache
*CloneDetective*
images/*
*suo
*StyleCop
*/CoverageReports/*
packages/*

